
        /* 요소 선택자(type) */
        h2 {
            color:darksalmon;
        }
        
        /* 아이디 선택자 (ID) */
        #description {
            background-color:peachpuff;
        }

        /*클래스 선택자 (class) */
        li.list-item {
            font-size: 20px;
        }

        ul li {
            background-color:turquoise;
        }

