<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Search</title>
</head>
<body>
    <h1>구글 검색</h1>
    <!-- http://google.com/search?q=typora -->
    <form action="http://google.com/search">
        <input type="text" name="q">
        <button type="submit">내버리기</button>
    </form>
    <!-- 설문지를 작성했다면 그 안쪽에 전부 입력해야 한다. -->
</body>
</html>